@use "./Functions.scss" as f;
@use "./DialogMode.scss" as m;

:root {
  --text-color: #303030;
  --svg-color: #575757;
  --headerBackgroud: #fefefe;
  --dialog-backgroud: #ffffff;
  --border-color: #d8d8d8;
  --btn-color: #1976d2;
  --btnBorder-color: #8cbae8;
}

[dialog-theme="dark"] {
  --text-color: #f3f3f3;
  --svg-color: #e7e7e7;
  --headerBackgroud: #212529;
  --dialog-backgroud: #2b3035;
  --border-color: #85858590;
  --btn-color: #f3f3f3;
  --btnBorder-color: #b6b6b6;
}

.modal-backdrop-root {
  z-index: 999;
  overflow: auto;

  @include m.DialogMode();
}

.modal-container {
  width: 28rem;
  border-radius: 0.6rem;
  background: var(--dialog-backgroud);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

  .modal-header {
    @include f.DisplayFlex(center, space-between);
    padding: 0.7rem 1.4rem;
    padding-right: 0.8rem;
    border-bottom: 1px solid var(--border-color);
    background: var(--headerBackgroud);

    .titleBox {
      font-size: 1.1rem;
      @include f.systemFont();
      font-weight: 600;
      color: var(--text-color);
    }
    .close-btn {
      svg {
        font-size: 1.4rem;
        color: var(--svg-color);
      }
    }
  }

  .modal-body {
    @include f.systemFont();
  }

  // .modal-body-children
  // .modal-footer
  // .modal-contant

  .modal-btn {
    min-width: 4.2rem;
    margin: 0 0.35rem;
    text-transform: capitalize;
    font-size: 0.85rem;
    font-weight: 600;
    @include f.systemFont();
    border-radius: 0.35rem;
    color: var(--btn-color);
    border-color: var(--btnBorder-color);
    transition: all 0.2s ease;
  }

  .btn-dark {
    color: var(--text-color);
    border: 1px solid #b6b6b6;

    &:hover {
      border: 1px solid #898989;
    }
  }

  .btn-contained {
    background: rgb(29, 136, 242);
    border: none;
    color: #fff;
  }

  .btn-hover-outlined:hover {
    background: rgb(29, 136, 242);
    color: #fff;
    border-color: rgb(29, 136, 242) !important;
  }
}

// For Dark Mode ----------------------------------------------
.modal-container-dark {
  .modal-btn:hover {
    border-color: #898989;
  }
}

@media screen and (max-width: 520px) {
  .modal-backdrop-root .MuiPaper-root.css-4nopd7-MuiPaper-root-MuiDialog-paper {
    padding: 0.4rem;
  }
}
